.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.brown {
	background-color: brown;
}

.tan {
	background-color: tan;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.moveable {
	position: absolute;
}

.height-xxs {
	height: 3px;
}

.height-xs {
	height: 5px;
}

.height-sm {
	height: 10px;
}

.height-md {
	height: 15px;
}

.height-lg {
	height: 20px;
}

.height-xl {
	height: 25px;
}

.my-row {
	display:table-row;
}

.my-row div {
	float: left;
}

.col-xs-1 {
	width: 3px;
}

.col-xs-2 {
	width: 6px;
}

.col-xs-3 {
	width: 9px;
}

.col-xs-4 {
	width: 12px;
}

.col-xs-5 {
	width: 15px;
}

.col-xs-6 {
	width: 18px;
}

.col-xs-7 {
	width: 21px;
}

.col-xs-8 {
	width: 24px;
}

.col-xs-9 {
	width: 27px;
}

.col-xs-10 {
	width: 30px;
}

.col-xs-11 {
	width: 33px;
}

.col-xs-12 {
	width: 36px;
}

.col-xs-13 {
	width: 39px;
}

.col-xs-14 {
	width: 42px;
}

.col-xs-15 {
	width: 45px;
}

.col-xs-16 {
	width: 48px;
}

.col-1 {
	width: 5px;
}

.col-2 {
	width: 10px;
}

.col-3 {
	width: 15px;
}

.col-4 {
	width: 20px;
}

.col-5 {
	width: 25px;
}

.col-6 {
	width: 30px;
}

.col-7 {
	width: 35px;
}

.col-8 {
	width: 40px;
}

.col-9 {
	width: 45px;
}

.col-10 {
	width: 50px;
}

.col-11 {
	width: 55px;
}

.col-12 {
	width: 60px;
}

.col-13 {
	width: 65px;
}

.col-14 {
	width: 70px;
}

.col-15 {
	width: 75px;
}

.col-16 {
	width: 80px;
}