<div id="mario" width="60" height="80">
	<div class="my-row">
		<div class="height-xs col-3"></div>
		<div class="red height-xs col-5"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-2"></div>
		<div class="red height-xs col-9"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-2"></div>
		<div class="brown height-xs col-3"></div>
		<div class="tan height-xs col-2"></div>
		<div class="black height-xs col-1"></div>
		<div class="tan height-xs col-1"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-1"></div>
		<div class="brown height-xs col-1"></div>
		<div class="tan height-xs col-1"></div>
		<div class="brown height-xs col-1"></div>
		<div class="tan height-xs col-3"></div>
		<div class="black height-xs col-1"></div>
		<div class="tan height-xs col-3"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-1"></div>
		<div class="brown height-xs col-1"></div>
		<div class="tan height-xs col-1"></div>
		<div class="brown height-xs col-2"></div>
		<div class="tan height-xs col-3"></div>
		<div class="black height-xs col-1"></div>
		<div class="tan height-xs col-3"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-2"></div>
		<div class="brown height-xs col-1"></div>
		<div class="tan height-xs col-4"></div>
		<div class="black height-xs col-4"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-3"></div>
		<div class="tan height-xs col-6"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-2"></div>
		<div class="red height-xs col-2"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-2"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-2"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-1"></div>
		<div class="red height-xs col-3"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-2"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-3"></div>
	</div>
	<div class="my-row">
		<div class="red height-xs col-4"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-2"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-4"></div>
	</div>
	<div class="my-row">
		<div class="tan height-xs col-2"></div>
		<div class="red height-xs col-1"></div>
		<div class="blue height-xs col-1"></div>
		<div class="yellow height-xs col-1"></div>
		<div class="blue height-xs col-2"></div>
		<div class="yellow height-xs col-1"></div>
		<div class="blue height-xs col-1"></div>
		<div class="red height-xs col-1"></div>
		<div class="tan height-xs col-2"></div>
	</div>
	<div class="my-row">
		<div class="tan height-xs col-3"></div>
		<div class="blue height-xs col-6"></div>
		<div class="tan height-xs col-3"></div>
	</div>
	<div class="my-row">
		<div class="tan height-xs col-2"></div>
		<div class="blue height-xs col-8"></div>
		<div class="tan height-xs col-2"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-2"></div>
		<div class="blue height-xs col-3"></div>
		<div class="height-xs col-2"></div>
		<div class="blue height-xs col-3"></div>
	</div>
	<div class="my-row">
		<div class="height-xs col-1"></div>
		<div class="brown height-xs col-3"></div>
		<div class="height-xs col-4"></div>
		<div class="brown height-xs col-3"></div>
	</div>
	<div class="my-row">
		<div class="brown height-xs col-4"></div>
		<div class="height-xs col-4"></div>
		<div class="brown height-xs col-4"></div>
	</div>
</div>